export(factorModelMonteCarlo)
export(fitTimeSeriesFactorModel)
S3method(plot,FundamentalFactorModel)
S3method(plot,StatFactorModel)
S3method(plot,TimeSeriesFactorModel)
S3method(predict,FundamentalFactorModel)
S3method(predict,StatFactorModel)
S3method(print,FundamentalFactorModel)
S3method(print,StatFactorModel)
S3method(print,TimeSeriesFactorModel)
S3method(summary,FundamentalFactorModel)
S3method(summary,StatFactorModel)
S3method(summary,TimeSeriesFactorModel)
S3method(TimeSeriesFactorModel)
